* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.textegazelle{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    position: absolute;
    bottom: 55%;
    left: 2%;
    color: azure;
}
.filtre{
  object-fit: cover;
  width: 25px;
  height: 25px;
  margin-left: 7px;
  text-decoration: none;
}

.image-container{
  display: flex; 
  align-items: center;  
  text-decoration: none;
  margin-left: 130px;
}
.textetshirt{
  text-align: left;
  color: rgb(117, 117, 117);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 130px;
}
.tshirttitre{
  margin-left: 130px;
}
.produitpromoo{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.prixx{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

.tshirttitre{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;

}

.voirlesarticles{
  text-decoration: none;
}
