.container {
    position: relative;
  }
  .container .btn{
    position: absolute;
    top: 70%;
    left: 6%;
    height: 45px;
    max-width: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 129, 129);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease;
  }
  .buttonhalaand{
    position: absolute;
    top: 50%;
    left: 6%;
    height: 45px;
    max-width: 150px;
    width: 220px;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 129, 129);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease;
  }
  
  .container .btn:hover {
    background-color: #343a40;
    color: #ffffff;
}
  .container .boutonnn{
    color: #000000;
    top: 20%;
    left: 2%;
    height: 45px;
    max-width: 150px;
    background-color: none;
    border: 2px solid #343a40;
    cursor: pointer;
    cursor: pointer;
    border-radius: 0px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
  }
  .container .boutonnnn{
    color: #000000;
    top: 20%;
    left: 12%;
    height: 45px;
    max-width: 150px;
    background-color: none;
    cursor: pointer;
    border-radius: 0px;
    border: 2px solid #343a40;
    cursor: pointer;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
  }
  .container .boutonnnnn{
    color: #000000;
    top: 20%;
    left: 22%;
    height: 45px;
    max-width: 150px;
    background-color: none;
    border: 2px solid #343a40;
    cursor: pointer;
    border-radius: 0px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
  }
  .container .boutonnnnnn{
    color: #000000;
    top: 20%;
    left: 32%;
    height: 45px;
    max-width: 150px;
    cursor: pointer;
    background-color: none;
    border: 2px solid #343a40;
    cursor: pointer;
    border-radius: 0px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
  }
  .container .ajtpanier{
    color: #ffffff;
    margin-top: 85px;
    left: 2%;
    height: 55px;
    max-width: 680px;
    cursor: pointer;
    background-color: black;
    cursor: pointer;
    border-radius: 0px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
  }
  .container .terminermacommande{
    color: #ffffff;
    margin-top: -140px;
    left: 69%;
    height: 55px;
    max-width: 1580px;
    cursor: pointer;
    background-color: black;
    cursor: pointer;
    border-radius: 15px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 360px;
  }
  .container .connexionoffre{
    color: #ffffff;
    margin-top: -360px;
    left: 69%;
    height: 40px;
    max-width: 1580px;
    cursor: pointer;
    background-color: #77B5FE;
    cursor: pointer;
    border-radius: 15px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    width: 360px;
  }
  .container .boutonnnnnnn{
    color: #000000;
    top: 20%;
    left: 44%;
    height: 45px;
    max-width: 150px;
    border: 2px solid #343a40;
    cursor: pointer;
    background-color: none;
    cursor: pointer;
    border-radius: 0px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
  }
  .boutonnnnnnn:hover {
    background-color: #343a40;
    color: rgb(255, 255, 255);

  }

  .boutonnnnnn:hover {
    background-color: #343a40;
    color: rgb(255, 255, 255);

  }.boutonnnnn:hover {
    background-color: #343a40;
    color: rgb(241, 242, 216);

  }.boutonnn:hover {
    background-color: #343a40;
    color: rgb(241, 242, 216);

  }.boutonnnn:hover {
    background-color: #343a40;
    color: rgb(241, 242, 216);

  }
  .container .bouttonveste{
    position: absolute;
    top: 75%;
    left: 2%;
    height: 32px;
    max-width: 85px;
    background-color: rgb(255, 255, 255);
    color: #6f4e2f;
    border: none;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.container .bouttonveste:hover {
    background-color: #6f4e2f;
    color: rgb(255, 255, 255);
}

.container .bouttonveste:active {
    background-color: #50391f;
}

.container .bouttonnike{
    position: absolute;
    top: 75%;
    left: 27%;
    height: 32px;
    max-width: 85px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #d98c33;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.container .bouttonnike:hover {
    background-color: #d98c33;
    color: rgb(255, 255, 255);
}

.container .bouttonnike:active {
    background-color: #b06b1f;
}

.container .bouttonjean{
    position: absolute;
    top: 75%;
    left: 54%;
    height: 32px;
    max-width: 85px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #8ec2f4;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.container .bouttonjean:hover {
    background-color: #8ec2f4;
    color: rgb(255, 255, 255);
}

.container .bouttonjean:active {
    background-color: #629bb8;
}

.container .bouttonmaillot{
    position: absolute;
    top: 75%;
    left: 4%;
    height: 32px;
    max-width: 85px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color:#d4c25e;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.container .bouttonmaillot:hover {
    background-color: #d4c25e;
    color: rgb(255, 255, 255);
}

.container .bouttonmaillot:active {
    background-color: #b6a34b;
}

.container .bouttonsweat{
    position: absolute;
    top: 75%;
    left: 52%;
    height: 32px;
    max-width: 85px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #86c987;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.container .bouttonsweat:hover {
    background-color: #86c987;
    color: rgb(255, 255, 255);
}

.container .bouttonsweat:active {
    background-color: #66a268;
}

.container .bouttonshort{
    position: absolute;
    top: 75%;
    left: 77%;
    height: 32px;
    max-width: 85px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: #323232;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family:  "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.container .bouttonshort:hover {
    background-color: #323232;
    color: rgb(255, 255, 255);
}

.container .bouttonshort:active {
    background-color: #1f1f1f;
}
