/*Ici vous trouverez les éléments pour la page homme et femme qui peut aussi se trouver le css promo et index */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Bouton découvrir de la première image*/
.boutonn {
  color: rgb(129, 129, 129);
  background-color: aliceblue;
  border: none;
  position: absolute;
  top: 47vh; /* 47% to vh */
  left: 2vw; /* 2% to vw */
  height: 2.8125rem; /* 45px to rem */
  max-width: 11.25rem; /* 180px to rem */
  border-radius: 1.5625rem; /* 25px to rem */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* Titre de chaque partie des produits exemple -> Sortez avec les meilleurs t-shirt à couleur unique pour l'été */
.tshirttitre {
  margin-left: 8.125rem; /* 130px to rem */
}

.tshirttitre {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
}

/*Texte de ADIDAS GAZELLE : L'ICÔNE INTEMPORELLE DE STYLE <br></br> ET DE CONFORT EST DE RETOUR*/
.textegazelle {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: absolute;
  bottom: 55vh; /* 55% to vh */
  left: 2vw; /* 2% to vw */
  color: azure;
}

/*Icone filtrer */
.filtre {
  object-fit: cover;
  width: 1.5625rem; /* 25px to rem */
  height: 1.5625rem; /* 25px to rem */
  margin-left: 0.4375rem; /* 7px to rem */
  text-decoration: none;
}

/* alignement du mot filtrer avec l'icone filtrer */
.image-container {
  display: flex; 
  align-items: center;  
  text-decoration: none;
  margin-left: 8.125rem; /* 130px to rem */
}

/* Nom des produits de la page homme et femme */
.produitpromoo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem; /* 15px to rem */
}

/* Produit pour les femmes où il y a que 2 produits dans la ligne */
.nb {
  width: 15.625rem; /* 250px to rem */
  height: 56.25rem; /* 900px to rem */
}

/* prix des produits pour homme et femme */
.prix {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem; /* 20px to rem */
  color: crimson;
}

/* le prix des produits */
.prixx {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625rem; /* 17px to rem */
}

/* barrage des prix */
.maclasse {
  text-decoration: line-through;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem; /* 15px to rem */
  color: #323232;
}
