* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
html, body {
  max-width: 100% ! important;
  overflow-x: hidden ! important;
  overflow-x : clip; 
  }
/* Placement des cards */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 12px;
}
/* Taille de l'icone panier  */
.panier{
  width: 30px;
  height: 30px;
}
/* Produit pour les femmes ou il y a que 2 produit dans la ligne et celle ci c la premiere */
.nb{
  width: 650px;
  height: 250px;
  object-fit: cover;
  margin-left: 20px;
}
/* Produit pour les femmes ou il y a que 2 produit dans la ligne et celle ci c la deuxieme */
.nbb{
  width: 650px;
  height: 250px;
  object-fit: cover;
  margin-right: 90px;
}
  /* enlever les liens  */
  a{
    text-decoration: none;
    color: black;
   }
/* les habits homme et femme */
.habitss{
  width: 320px;
  height: 450px;

}
.habitss{
  transition: transform .3s;
}
.habitss:hover{
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01);
    }

/* premiere image de l'accueil */ 
.premier {
  object-fit: cover;
  width: 100%;
  height: 550px;
  border-radius: 12px;
  margin-top: 90px;
}
/* premiere image pour homme et femme */ 
.gazelle {
  object-fit: cover;
  width: 100%;
  height: 550px;
  border-radius: 12px;
  margin-top: 90px;
  filter: brightness(70%);
}

/* image ou il a Erling Haaland */
.deux {
  width: 100%;
  height: 450px;
  border-radius: 12px;
  object-fit: cover;
  filter: brightness(60%);
}
.container {
  position: relative; 
}
.container .textniketech {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: aliceblue;
  top: 18%;
  left: 6%;
  width: 650px;
  font-size: 30px;
}
.container .texteniketech2 {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  top: 55%;
  left: 75%;
  width: 250px;
  font-size: 10px;
}
/* image le promo de new balance */
.newbalance {
  filter: brightness(60%);
}
.container .textnewbalance {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: aliceblue;
  top: 18%;
  left: 6%;
  width: auto;
  font-size: 1.5 vw; 
}


/* Page accueil le background gris avec les marque et lestaille */
.grey {
  height: 150px;
  background-color: rgb(239, 239, 239);
}
.marque {
  object-fit: cover;
  width: 130px;
  height: 130px;
}
.margingris {
  margin-top: 80px;
}
/* Partie footer */
.textfooter {
  font-weight: 400;
}

.email {
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .marque {
    width: 50px;
    height: 50px;
  }
  .grey {
    height: 70px;
    margin-top: 70px;
  }
  .premier {
    object-fit: cover;
    width: 100%;
    height: 270px;
    border-radius: 12px;
    margin-top: 90px;
  }
}
