* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  overflow-x: clip; 
}

/* Placement des cards */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 15.625rem; /* 250px to rem */
  border-radius: 0.75rem; /* 12px to rem */
}
@media (max-width: 480px) {
.exception{
  object-fit: cover;
  width: 100%;
  height: 180px; /* 250px to rem */
  border-radius: 12px; /* 12px to rem */
}
}
/* Taille de l'icone panier  */
.panier {
  width: 1.875rem; /* 30px to rem */
  height: 1.875rem; /* 30px to rem */
}

/* Produit pour les femmes ou il y a que 2 produit dans la ligne et celle ci c la premiere */
.nb {
  width: 40.625rem; /* 650px to rem */
  height: 15.625rem; /* 250px to rem */
  object-fit: cover;
  margin-left: 1.25rem; /* 20px to rem */
}

/* Produit pour les femmes ou il y a que 2 produit dans la ligne et celle ci c la deuxieme */
.nbb {
  width: 40.625rem; /* 650px to rem */
  height: 15.625rem; /* 250px to rem */
  object-fit: cover;
  margin-right: 5.625rem; /* 90px to rem */
}

/* enlever les liens  */
a {
  text-decoration: none;
  color: black;
}

/* les habits homme et femme */
.habitss {
  width: 20rem; /* 320px to rem */
  height: 28.125rem; /* 450px to rem */
  transition: transform 0.3s;
}

.habitss:hover {
  transform: scale(1.01);
}
@media (max-width: 480px) {
  .bleu {
    width: 2rem; /* 320px to rem */
    height: 2.125rem; /* 450px to rem */
    margin-left: -37px;
    margin-top: -60px;
  }
  
  .nwar {
    width: 10px;
    height: 45px;
    margin-left: -37px;
    margin-top: -900px;
  }
  .red {
    width: 35%;
    margin-left: -37px;
    margin-top: 920px;
  }
  .bbeige {
    width: 35%;
    margin-left: 141px;
    margin-top: -320px;
  }
.shortun{
    width: 35%;
    margin-left: -40px;
    margin-top: -30px;
  }
  .shortdeux{
    width: 35%;
    margin-left: 140px;
    margin-top: -340px;
  }
  .shorttrois{
    width: 35%;
    margin-left: -40px;
    margin-top: 20px;
  }
  .shortquatre{
    width: 35%;
    margin-left: 140px;
    margin-top: -338px;
  }
}
   

/* premiere image de l'accueil */ 
.premier {
  object-fit: cover;
  width: 100%;
  height: 34.375rem; /* 550px to rem */
  border-radius: 0.75rem; /* 12px to rem */
  margin-top: 5.625rem; /* 90px to rem */
}

/* premiere image pour homme et femme */ 
.gazelle {
  object-fit: cover;
  width: 100%;
  height: 34.375rem; /* 550px to rem */
  border-radius: 0.75rem; /* 12px to rem */
  margin-top: 5.625rem; /* 90px to rem */
  filter: brightness(70%);
}

/* image ou il a Erling Haaland */
.deux {
  width: 100%;
  height: 28.125rem; /* 450px to rem */
  border-radius: 0.75rem; /* 12px to rem */
  object-fit: cover;
  filter: brightness(60%);
}

.container {
  position: relative; 
}

.container .textniketech {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: aliceblue;
  top: 18%;
  left: 6%;
  width: 40.625rem; /* 650px to rem */
  font-size: 1.875rem; /* 30px to rem */
}
.container .textniketech {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: aliceblue;
  top: 18%;
  left: 6%;
  width: 40.625rem; /* 650px en rem */
  font-size: 1.875rem; /* 30px en rem */
}

/* Pour les très petits écrans, comme les smartphones */
@media (max-width: 480px) {
  .container .textniketech {
    top: 6%;
    left: 10%; /* Légèrement plus à gauche */
    width: 20rem; /* Encore plus réduit pour les petits écrans */
    font-size: 1.2rem; /* Plus petit texte */
  }
}
.container .texteniketech2 {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  top: 55%;
  left: 75%;
  width: 15.625rem; /* 250px to rem */
  font-size: 0.625rem; /* 10px to rem */
}
@media (max-width: 480px) {
  .container .texteniketech2 {
    top: 40%; /* Ajustement de la position verticale */
    left: 49%; /* Centrage horizontal sur petits écrans */
    transform: translateX(-50%); /* Pour recentrer */
    width: 300px; /* Réduire la largeur (200px en rem) */
    font-size: 10px; /* Augmentation de la taille du texte (12px) pour lisibilité */
  }
}
/* image le promo de new balance */
.newbalance {
  filter: brightness(60%);
}

.container .textnewbalance {
  position: absolute;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: aliceblue;
  top: 18%;
  left: 6%;
  width: auto;
  font-size: 1.68vw; 
}
@media (max-width: 480px) {
  .container .textnewbalance {
    top: 16%; /* Ajustement de la position verticale */
    left: 45%; /* Centrage horizontal sur petits écrans */
    transform: translateX(-50%); /* Pour recentrer */
    width: 300px; /* Réduire la largeur (200px en rem) */
    font-size: 18px; /* Augmentation de la taille du texte (12px) pour lisibilité */
  }
}
/* Page accueil le background gris avec les marque et les tailles */
.grey {
  height: 9.375rem; /* 150px to rem */
  background-color: rgb(239, 239, 239);
}

.marque {
  object-fit: cover;
  width: 8.125rem; /* 130px to rem */
  height: 8.125rem; /* 130px to rem */
}

.margingris {
  margin-top: 5rem; /* 80px to rem */
}

/* Partie footer */
.textfooter {
  font-weight: 400;
}

.email {
  border-radius: 1.25rem; /* 20px to rem */
}

@media screen and (max-width: 1400px) {
  .marque {
    width: 3.125rem; /* 50px to rem */
    height: 3.125rem; /* 50px to rem */
  }

  .grey {
    height: 4.375rem; /* 70px to rem */
    margin-top: 4.375rem; /* 70px to rem */
  }

  .premier {
    object-fit: cover;
    width: 100%;
    height: 16.875rem; /* 270px to rem */
    border-radius: 0.75rem; /* 12px to rem */
    margin-top: 5.625rem; /* 90px to rem */
  }
}

/* TOUT LE FOOTER*/
.titrefooter {
  font-weight: 600;
}

.lelogo {
  height: 4.375rem; /* 70px to rem */
  width: 4.375rem; /* 70px to rem */
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, auto)); /* 200px to rem */
  gap: 3.5rem;
  background-color: #282828;
  padding: 5vw 10% 2.1875rem; /* 35px to rem */
  color: #d6d6d6;
}

.footer-content h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 1.25rem; /* 20px to rem */
}

.footer-content li {
  margin-bottom: 1rem; /* 16px to rem */
}

.footer-content li a {
  display: block;
  color: #d6d6d6;
  font-size: 0.9375rem; /* 15px to rem */
  transition: all 0.4s ease;
}

.footer-content li a:hover {
  transform: translateY(-0.1875rem); /* -3px to rem */
  color: #fff;
}

.footer-content p {
  font-size: 1rem; /* 16px to rem */
  line-height: 1.875rem; /* 30px to rem */
  margin: 1.25rem 0; /* 20px to rem */
}

.icons a {
  display: inline-block;
  font-size: 1.375rem; /* 22px to rem */
  color: #d6d6d6;
  margin-right: 1.0625rem; /* 17px to rem */
  transition: all 0.4s ease;
}
